@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: roman;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: black;
}
